# Segredos e configs locais
.env
mosquitto/config/passwd
rclone-config/**
backups/**

# Dados/volumes
mysql-data1/
mysql-data2/
mosquitto/data/
mosquitto/log/
node-red-data1/
node-red-data2/
backups/
rclone-config/

# Python
__pycache__/**
*.pyc

# Outros
*.swp
*.tmpmosquitto/config/passwd
