# Segredos e configs locais
.env
mosquitto/config/passwd
rclone-config/**
backups/**

# Dados/volumes
mosquitto/data/**
mosquitto/log/**
mysql-data1/**
mysql-data2/**
node-red-data1/**
node-red-data2/**

# Python
__pycache__/**
*.pyc

# Outros
*.swp
*.tmpmosquitto/config/passwd
